<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Piece</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>
    <div class="contenitore" style="position: fixed; top: 0; z-index: 101;">
        <img src="~/Images/icona.png" style="height: 7vh; margin-top: 1vh; margin-left: 2vh; cursor: pointer; display: block; float: left;" onclick="home()" />
    </div>

    <div class="contenitore" style="position: fixed; width: 100vw; top: 0; z-index: 100; text-align: center; font-weight: bold; font-size: 4vh; line-height: 9vh;">
        Saga di Romance Dawn
    </div>

    <div class="container body-content">
        @RenderBody()
    </div>
</body>
</html>

<script>
    function home() {
        window.location.href = "../Home";
    }
</script>
