<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Piece</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</head>
<body>
    @*LOADING*@
    <div id="loading" style="display: none;">
        <span class="intermeder"></span>
        <img src="~/Images/spinner.gif" style="vertical-align: middle;" />
    </div>

    @*ICONA HOME*@
    <div class="contenitore contenitoreIconaHome" onclick="toggleMenu()">
        <img src="~/Images/icona.png" class="iconaHome" />
    </div>

    <div id="contenitoreMenuHome" class="contenitore contenitoreMenuHome">
        <div class="voceMenuHome">SAGHE</div>
        <div class="voceMenuHome">PERSONAGGI</div>
        <div class="voceMenuHome">FAZIONI</div>
        <div class="voceMenuHome">MITOLOGIA</div>
        <div class="voceMenuHome" style="border-bottom: 0;">MONDO</div>
    </div>

    @*TITOLO PAGINA*@
    <div id="titoloPagina" class="contenitore contenitoreTitoloPagina">
        Saga di Romance Dawn
    </div>

    @*SCHEDE DI SINISTRA*@
    <div id="schedauno" class="contenitore contenitoreScheda" style="top: 12vh; left: 0;">

    </div>
    <div id="schedatre" class="contenitore contenitoreScheda" style="bottom: 10vh; left: 0;">

    </div>

    @*SCHEDE DI DESTRA*@
    <div id="schedadue" class="contenitore contenitoreScheda" style="top: 12vh; right: 0;">

    </div>
    <div id="schedaquattro" class="contenitore contenitoreScheda" style="bottom: 10vh; right: 0;">

    </div>

    <div class="container body-content">
        @RenderBody()
    </div>

    @*FOOTER CON MENU*@
    <div id="contenitoreMenuFooter" class="contenitore contenitoreMenuFooter">
        
    </div>
</body>
</html>

<script>
    var schedaUno = false;
    var schedaDue = false;
    var schedaTre = false;
    var schedaQuattro = false;
    var ordineApparizione = [];

    function toggleMenu() {
        if ($("#contenitoreMenuHome").is(":visible")) {
            $("#contenitoreMenuHome").hide("drop", { direction: "left" }, 400);
        } else {
            nascondiSchedeTutte();
            $("#contenitoreMenuHome").show("drop", 400);
        }
    }

    function nascondiSchedeTutte() {
        var direzione = "";
        var num = 0;
        var index = -1;
        if (schedaUno) {
            $("#schedauno").hide("slide", { direction: "left" }, 800);
            schedaUno = false;
            index = ordineApparizione.indexOf(1);
            if (index > -1) {
                ordineApparizione.splice(index, 1);
            }
            index = -1;
        }
        if (schedaDue) {
            $("#schedadue").hide("slide", { direction: "right" }, 800);
            schedaUno = false;
            index = ordineApparizione.indexOf(2);
            if (index > -1) {
                ordineApparizione.splice(index, 1);
            }
            index = -1;
        }
        if (schedaTre) {
            $("#schedatre").hide("slide", { direction: "left" }, 800);
            schedaUno = false;
            index = ordineApparizione.indexOf(3);
            if (index > -1) {
                ordineApparizione.splice(index, 1);
            }
            index = -1;
        }
        if (schedaQuattro) {
            $("#schedaquattro").hide("slide", { direction: "right" }, 800);
            schedaUno = false;
            index = ordineApparizione.indexOf(4);
            if (index > -1) {
                ordineApparizione.splice(index, 1);
            }
            index = -1;
        }

    }

    function nascondiMenu() {
        $("#contenitoreMenuHome").hide("slide", { direction: "left" }, 800);
    }

    function toggleLoading() {
        $("#loading").toggle();
    }
</script>
